/*** uncss> filename: src/test.css ***/

h1 {
  background-color: red;
}

h1 {
  background-size: 10px;
}

.temp {
  font-size: 30px;
}

li {
  color: blue;
}

/*** uncss> filename: src/test2.css ***/

li {
  font-size: 15px;
}
